.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #333;
}

.wrap-login {
  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 20px 40px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
}
