.appBar {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.title {
  flex-grow: 10;
  display: flex;
  align-items: center;
  font-size: 150%;

}

.userSection {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userName {
  margin: 0;
}

.drawer {
  width: 250px;
  padding: 10px;
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.drawer.open {
  transform: translateX(0);
}

.drawer ul {
  list-style: none;
  padding: 0;
}

.drawer li {
  padding: 10px 0;
  cursor: pointer;
}

.mainContent {
  margin-left: 20px;
  padding: 24px;
}

.button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.subNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.subNav li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #cdd9eb;
  border-radius: 5px;
  color: #333;
}

.subNav li:hover {
  background-color: #9dabc7;

  }

.adminSubPageContent {
  margin-top: 20px;
}
h2 {
  font-size: 28px;
  color: #3f51b5;
  margin-bottom: 20px;
}
